body {
  background-color: #f7374f;
  font-family: "Segoe UI", Tahoma, Arial, Verdana, sans-serif;
  font-weight: 400;
  color: #2c2c2c;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #2c2c2c;
}
hr {
  border: 1px solid #522546;
}
#en-iyi-filmler::after {
  content: "|";
  display: inline-block;

  height: 2px;
  background-color: #2c2c2c;
  margin-left: 5px;
  margin-right: 5px;
}
#en-iyi-filmler::before {
  content: "|";
  display: inline-block;

  height: 2px;
  background-color: #2c2c2c;
  margin-left: 5px;
  margin-right: 5px;
}
aside {
  background-color: #dd2d4a;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
}
aside #yanbaslik {
  font-size: 20px;
  font-weight: 600;
}
footer p {
  text-align: center;
  font-size: 12px;
}
.en-iyi-filmler_kategori {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: "›";
  margin: 0 10px;
  font-size: 14px;
}
.en-iyi-filmler_kategori li::before {
  content: "›";
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
  color: #2c2c2c;
  font-weight: 600;
}
#baba {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

.inline-container {
  display: flex;
  align-items: flex-start;
  margin: 20px;
}
.inline-block {
  display: inline-block;
  vertical-align: top;
}
.content-block {
  margin-left: 20px;
}
.button {
  color: #2c2c2c;
  margin-left: 20px;
}
h1 {
  text-align: center;
}
body kayit-ol.html {
  background-image: image("images/forms-background.jpg"); /* Arka plan resmi */
  background-size: cover; /* Resmi sayfaya sığdırır */
  background-attachment: fixed; /* Sayfa kaydırıldığında sabit kalır */
  background-position: center; /* Resmi ortalar */
  background-repeat: no-repeat; /* Tekrar etmesini engeller */
}
